main {
  margin-top: 120px;
}

/* Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navegação / Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #12333d;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

nav h2 {
  color: #ffffff;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

nav ul li a:hover {
  color: rgb(1, 210, 238);
}

.material-icons {
  color: white;
}

/* Formulários */
form {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #4caf50;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  width: 100%;
  padding: 22px;
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background-color: #45a049;
}

#formulario button {
  display: inline-block;
  margin: 10px 5px; /* espaçamento entre os botões */
}

select {
  margin-bottom: 15px;
  padding: 10px;
}

option {
  color: black;
}

/*botoes valores*/
.botoes-valores {
  display: flex;
  width: 300px;
  justify-items: auto;
  padding: 15px;
  margin-left: 10%;
}

button {
  font-size: 18px;
  border-radius: 20px;
}


/*cadastro*/
#cadastro-voluntario {
  margin-top: 80px;
}

/*contato*/

#contato {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}

/* Footer */
footer {
  background-color: #12333d;
  color: #fff;
  padding: 1px;
}

footer p {
  text-align: center;
  margin-top: 20px;
}

footer h2 {
  color: white;
}



